<a tabindex="0" class="close" href="#" {{ action "toggleLegend" preventDefault=true }}><svg><use xlink:href="#icon-close"></use></svg></a>
<span class="legend-description">Total number of properties owned by speculator.</span>
<ul class="legend-list">
  {{#each layers as |layer index|}}
    <li class="legend-item legend-{{index}}">
      <span class="legend-check hide">{{input type="checkbox" id=layer.color name=layer.color checked=layer.visible}}</span>
      <label class="legend-label" for="{{layer.color}}">
        <svg class="legend-marker-color" width="16" height="16">
          <circle cx="8" cy="8" r="7" stroke-width="1" stroke="#1f1f1f" fill="{{layer.color}}" fill-opacity="{{if layer.visible "1" "0"}}" stroke-opacity="1"></circle>
        </svg>
        {{layer.description}}
      </label>
    </li>
  {{/each}}
</ul>

<nav>
  <ul class="link-list">
    <li><a href="http://blog.propertypraxis.org/about">About</a></li>
    <li><a href="http://blog.propertypraxis.org/">Blog</a></li>
    <li><a href="http://blog.propertypraxis.org/faq">Help</a></li>
  </ul>
  <p>See an issue? <a href="https://github.com/alexbhill/project-pip/issues">Report it</a>.</p>
</nav>
