<p class="owner-name">{{activeOwner.owner}} details:</p>
<p class="owner-count">Total properties owned: {{activeOwner.count}}</p>
<p>Address:</p>
<address>
  <p class="owner-street">{{activeOwner.ownerStreet}}</p>
  <p class="owner-city-state">{{activeOwner.ownerCity}}, {{activeOwner.ownerState}} {{activeOwner.ownerZip}}</p>
</address>
