<p class="owner-name">{{format-detail name}} details:</p>
<p class="owner-count">Total properties owned: {{count}}</p>
<p>Address:</p>
<address>
  <p class="owner-street">{{format-detail street}}</p>
  <p class="owner-city-state">{{format-detail city}}, {{state}} {{zip}}</p>
</address>
