<p class="owner-name">{{format-details activeOwner.owner}} details:</p>
<p class="owner-count">Total properties owned: {{format-details activeOwner.count}}</p>
<p>Address:</p>
<address>
  <p class="owner-street">{{format-details activeOwner.ownerStreet}}</p>
  <p class="owner-city-state">{{format-details activeOwner.ownerCity}}, {{activeOwner.ownerState}} {{activeOwner.ownerZip}}</p>
</address>
