<p class="owner-name" itemscope itemtype="http://schema.org/Person">
  {{#each activeOwner.owner as |name|}}
    <span itemprop="name">{{format-details name}}</span>
  {{/each}} details:
</p>
<p class="owner-count">Total properties owned: {{format-details activeOwner.count}}</p>
<p>Address:</p>
<address>
  <p class="owner-street">{{format-details activeOwner.ownerStreet}}</p>
  <p class="owner-city-state">{{format-details activeOwner.ownerCity}}, {{activeOwner.ownerState}} {{activeOwner.ownerZip}}</p>
</address>
