<p class="property-click" {{action "setActiveOwner" activeProperty}}>{{format-detail name}} <svg><use xlink:href="#icon-info"></use></svg></p>
<p>{{format-detail address}}</p>
<p class="property-click" {{action "setActiveZip" activeProperty}}>Detroit, MI {{zip}}<svg><use xlink:href="#icon-info"></use></svg></p>
