<p class="property-click" {{action "setActiveOwner" activeProperty}} itemscope itemtype="http://schema.org/Person">
  {{#each activeProperty.owner as |name|}}
    <span itemprop="name">{{format-details name}}</span>
  {{/each}}
  <svg><use xlink:href="#icon-info"></use></svg>
</p>

{{#if isLLC}}
  <p>{{format-details activeProperty.alias}}</p>
{{/if}}

<p>{{format-details activeProperty.address}}</p>
<p class="property-click" {{action "setActiveZip" activeProperty}}>Detroit, MI {{activeProperty.zip}}<svg><use xlink:href="#icon-info"></use></svg></p>
