<div class="search {{ if searchIsToggled 'search-on' }}" >
  {{input type="search" value=search placeholder="Search by address or street name…" autofocus="autofocus"}}
  <a tabindex="0" class="close" {{ action "toggleSearch" preventDefault=true}} {{ action "clearSearch" on="click" }} href="#"><svg viewBox="0 0 32 32"><use xlink:href="#icon-close"></use></svg></a>
</div>

<div class="page">
  {{#map-container search=search activeProperty=activeProperty}}{{/map-container}}

  <nav class="nav nav-icons">
    <ul class="nav-icon-items nav-list">
      <li><a class="nav-icon nav-icon-search" tabindex="0" {{ action "toggleSearch" preventDefault=true}} href="#"><svg viewBox="0 0 32 32"><use xlink:href="#icon-search"></use></svg></a></li>
    </ul>
  </nav>

  <section class="panel panel-on">
    <a tabindex="0" class="close" {{ action "clearSearch" on="click" preventDefault=true }} href="#"><svg viewBox="0 0 32 32"><use xlink:href="#icon-close"></use></svg></a>

    {{#if activeProperty.properties}}
      {{#property-details activeProperty=activeProperty}}{{/property-details}}
    {{/if}}

    {{#unless activeProperty.properties}}
      {{#property-list properties=properties activeProperty=activeProperty}}{{/property-list}}
    {{/unless}}
  </section>

  {{#streetview-loader coordinates=activeProperty.geometry.coordinates alt=activeProperty.properties.propaddr}}{{/streetview-loader}}
</div>
