{{#map-container data=model query=propertiesQuery setProperty=activeProperty}}{{/map-container}}

<nav class="nav nav-menu {{if menuIsToggled 'nav-on'}}">
  <a class="close nav-close" {{ action "toggleHandler" "menuIsToggled" preventDefault=true}} href="#"><svg viewBox="0 0 32 32"><use xlink:href="#icon-close"></use></svg></a>
  <ul class="nav-menu-items nav-list">
    <li class="nav-menu-item">Home</li>
    <li class="nav-menu-item">About</li>
    <li class="nav-menu-item">Blog</li>
    <li class="nav-menu-item">Search</li>
    <li class="nav-menu-item">Contact</li>
  </ul>
</nav>

<nav class="nav nav-icons">
  <ul class="nav-icon-items nav-list">
    <li><a class="nav-icon nav-icon-legend" tabindex="0"><svg viewBox="0 0 32 32"><use xlink:href="#icon-key"></use></svg></a></li>
    <li><a class="nav-icon nav-icon-search" tabindex="0" {{ action "toggleHandler" "searchIsToggled" preventDefault=true}} href="#"><svg viewBox="0 0 32 32"><use xlink:href="#icon-search"></use></svg></a></li>
    <li><a class="nav-icon nav-icon-menu" {{ action "toggleHandler" "menuIsToggled" preventDefault=true}} href="#"><svg viewBox="0 0 32 32"><use xlink:href="#icon-menu"></use></svg></a></li>
  </ul>
</nav>


<div class="search {{ if searchIsToggled 'search-on' }}">
  {{input type="search" value=propertiesQuery focus-in="clearSearch" placeholder="Find a property…"}}
  <a tabindex="0" class="close" {{ action "toggleHandler" "searchIsToggled" preventDefault=true}} {{ action "clearSearch" on="click" }} href="#"><svg viewBox="0 0 32 32"><use xlink:href="#icon-close"></use></svg></a>
</div>


{{!-- put in legend here --}}


<section class="panel {{ if panelIsToggled 'panel-on' }}">

  {{#if filteredResults.length}}
    <ul class="properties-list">
    {{#each filteredResults as |property|}}
      <li class="property" {{action "sendPropertyCoords" property}} itemscope itemtype="http://schema.org/Property">
        <p itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">{{ property.address }}</span></p>
        <p itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ property.owner }}</span></p>
      </li>
    {{/each}}
    </ul>
  {{/if}}

  {{#if activeProperty.address}}
    <p>{{ activeProperty.address }}</p>
    <p>{{ activeProperty.owner }}</p>
    <p><img src="{{ activeProperty.streetView }}" alt="{{ activeProperty.address }}"></p>
  {{/if}}
</section>