<div class="search {{ if searchIsToggled 'search-on' }}" >
  {{input type="search" value=propertiesQuery placeholder="Search by address or street name…" autofocus="autofocus"}}
  <a tabindex="0" class="close" {{ action "toggleHandler" "searchIsToggled" preventDefault=true}} {{ action "clearSearch" on="click" }} href="#"><svg viewBox="0 0 32 32"><use xlink:href="#icon-close"></use></svg></a>
</div>

<div class="page">
  {{#map-container data=model query=propertiesQuery setProperty=activeProperty}}{{/map-container}}

  <nav class="nav nav-icons">
    <ul class="nav-icon-items nav-list">
      <li><a class="nav-icon nav-icon-search" tabindex="0" {{ action "toggleHandler" "searchIsToggled" preventDefault=true}} href="#"><svg viewBox="0 0 32 32"><use xlink:href="#icon-search"></use></svg></a></li>
    </ul>
  </nav>


  {{!-- put in legend here --}}


  <section class="panel {{ if panelIsToggled 'panel-on' }} {{ if isDetailsActive 'active-property' }}">
    {{#if panelIsToggled}}<a tabindex="0" class="close" {{ action "clearSearch" on="click" preventDefault=true }} href="#"><svg viewBox="0 0 32 32"><use xlink:href="#icon-close"></use></svg></a>{{/if}}

    {{#property-details property=activeProperty}}{{/property-details}}

    {{#property-list properties=filteredResults activeProperty=activeProperty}}{{/property-list}}
  </section>

  {{#if isSmallViewport}}{{#streetview-loader src=activeProperty.streetView alt=activeProperty.address activeProperty=activeProperty}}{{/streetview-loader}}{{/if}}
</div>
