<div class="search {{ if searchIsToggled 'search-on' }}" >
  {{input type="search" value=search placeholder="Search by owner, street name, or zip code…"}}
  <a tabindex="0" class="close" {{ action "clear" on="click" }} href="#"><svg><use xlink:href="#icon-close"></use></svg></a>
</div>

<div class="page">
  {{#map-container search=search activeProperty=activeProperty activeOwner=activeOwner activeZip=activeZip layers=layers model=model}}
  {{/map-container}}

  <a class="search-btn btn" tabindex="0" {{ action "toggleSearch" preventDefault=true}} href="#"><svg><use xlink:href="#icon-search"></use></svg></a>

  <div class="panel panel-on {{if activeOwner.id "has-active-owner " ""}}{{if activeZip.id "has-active-zip " ""}}{{if activeProperty.id "has-active-property " ""}}{{if results.length "has-results" ""}}">
    <a tabindex="0" class="close" {{ action "clear" on="click" }} href="#"><svg><use xlink:href="#icon-close"></use></svg></a>
    {{#owner-details activeOwner=activeOwner}}{{/owner-details}}

    {{#zip-details activeZip=activeZip}}{{/zip-details}}

    {{#property-details activeProperty=activeProperty activeOwner=activeOwner activeZip=activeZip clear="clear"}}{{/property-details}}

    {{#property-list search=search results=results activeProperty=activeProperty activeZip=activeZip clear="clear"}}{{/property-list}}

    {{#streetview-loader activeProperty=activeProperty}}{{/streetview-loader}}
  </div>

  {{#map-legend legendIsToggled=legendIsToggled}}{{/map-legend}}

  <a href="#" class="legend-toggle btn {{if legendIsToggled "hide" ""}}" {{ action "toggleLegend" preventDefault=true }}>
    <svg><use xlink:href="#icon-compass"></use></svg>
  </a>
</div>
